<div role="main" class="container" style="padding-top: 60px;" >
    <h1><%= @title%></h1
    <p><%= @content%></p>

    <%= form_for :balloon, url: balloon_path(@balloon), method: :patch do |f| %>
        <!-- #check for errors --> 
        <% if @balloon.errors.any? %>
            <% @balloon.errors.full_messages.each do |msg| %>
            <div class="alert alert danger"><%= msg %> </div>
            <% end %> 
        <% end %> 

        <p>
        <%= f.label :title %><br>
        <%= f.text_field(:title,{:class => 'form-control'}) %>
        </p>
        
        <p>
        <%= f.label :body %><br>
        <%= f.text_area(:body,{:class => 'form-control'}) %>
        </p>
        <p>
        <%= f.submit(:class => 'btn btn-primary') %>
        </p>
    <% end %>
</div>
