<div class="container" style="padding-top: 60px;">
    <h1><%= @title%></h1> 
    <p><%= @content%></p>
    <h2><%= @balloon.title%></h2>
    <p><%= @balloon.body%></p>
    <hr>
    
    <%= link_to "Edit", edit_balloon_path(@balloon), :class => 'btn btn-primary' %>

<!-- 
  original = 
 <%= link_to "Delete", balloon_path(@balloon), method: :delete, :class => 'btn btn-danger'%> 
  TRY =  calling destroy VS delete
 <%= link_to 'Delete', balloon_path(@balloon), method: :destroy, :class => 'btn btn-danger'%> 
  TRY = removing btn class and use plain old link, reverting to delete 
   <%= link_to 'Delete', balloon_path(@balloon), method: :delete %> 
  TRY = add confirm to link (vs button)
  <%= link_to 'Delete', balloon_path(@balloon), method: :delete, data: { confirm: 'Are you sure?' } %>
  TRY = remove confirm , change link label to destroy
  <%= link_to 'Destroy', balloon_path(@balloon), method: :delete, data: { confirm: 'Are you sure?' } %>
  modify path as 
  -->

  <%= link_to 'Delete', balloon_path(@balloon), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>


    <%= render 'comments/comments' %>
    <%= render 'comments/form' %> 

    </div>

